@font-face{
	font-family: roboto-regular;
	src: url(../fonts/Roboto-Regular.ttf);
}

@font-face{
	font-family: roboto-bold;
	src: url(../fonts/Roboto-Bold.ttf);
}

body{
	margin: 0;
}

header #logo{
	padding: 1.5%;
	padding-left: 10%;
	float: left;

}


header h2{
	
	float: right;
	vertical-align: middle;
	font-family: roboto-bold;
	font-size: 32px;
	color: #00AEEF;
	position: relative;
	right: 70px;
	top:45px;
}

header{
	overflow: hidden;
	margin:auto;
	height: 190px;
	border-bottom: #CECECE 1.5px solid;

}

.subHeader{
	max-width: 1150px;
	margin: auto;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 30px;
}

.subHeader h3{
	display: inline;
	padding: 0;
	margin:0;
	font-family: roboto-bold;
	font-size: 22px;
	color: #00AEEF;
	left: 20px;
	position: relative;
}

.subHeader a{
	display: inline;
	font-family: roboto-bold;
	font-size: 14px;
	color: #00AEEF;
	float: right;
	
}

.welcome p{

	line-height: 22px;
	font-family: roboto-bold;
	font-size: 16px;
	color: #4A4A4A;
}

.welcome {
	text-align: center;
	width:100%;
	margin: 0;
	display: block;
	position: relative;
	left: 50;
}

#success p{

	font-family: roboto-bold;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
}

#success{

/*	visibility: hidden; */
	margin: auto;
	padding: 5px;
	width: 50%;
	background-color: #7ED321;
	position: relative;
}

#fail{
/*	visibility: hidden;    */

	margin: auto;
	padding: 5px;
	width: 50%;
	background-color: #D0021B;
	margin-bottom: 5%;
}

#fail p{
	font-family: roboto-bold;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;

}

.form{
	background-color: #EDF6F9;
	width: 75%;
	margin: auto;
	padding-bottom: 20px;
	padding-top: 30px;
	margin-top: 20px;

}

#form1{
	clear: both;
	max-width: 50%;
	margin: auto;
	margin-bottom: 4%;
}

#form1 h3{
	 color: #00AEEF;
	 font-size: 22px;
	 font-family: roboto-bold;
	 text-align: center;
}

#form1 label{
		display: block;
		margin: 5px;
		font-size: 14px;
		font-family: roboto-regular;
		color: #00AEEF;
}	

#form1 input{     
	

	margin-bottom: 2vw;
	border-radius: 8px;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	height: 25px;
}



#sendBtn{
	border:0px;
	background-color: #00AEEF;
	font-family: roboto-regular;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	
}


footer a{
	font-size: 16px;
	color: #00AEEF;
	font-family: roboto-bold;
	vertical-align: middle;
	
}

footer{
	display: flex;
	height: 50px; 
	margin-top: 70px;
	background-color: #EEEEEE;
	align-items: center;
	justify-content: center;
}


.bigField{
	width: 100%;
}

.smallField{
	width: 50%;
}

.labelDiv{
	display: inline;
}



@media(max-width: 800px){
	header{
		height: 1%;
	}

	header #logo{
			height: 10%;
			width: 10%;

	}


header h2{
	float: right;
	vertical-align: middle;
	font-family: roboto-bold;
	font-size: 4vw;
	color: #00AEEF;
	position: relative;
	top:25%;
	right: 10%;
}


.subHeader{
	margin-top: 5%;
	margin-bottom: 2%;

}

.subHeader h3{
	font-size: 2.75vw;
}

.welcome p{
	line-height: 50%;
	font-size: 2vw;
}

.welcome {
	left: 0;
	margin-bottom: 5%;
}

#fail p{
	font-size: 2vw;	
}

#success p{
	font-size: 2vw;
}

.subHeader a{
	font-size: 1.5vw;
}

#form1 h3{
	 font-size: 2.75vw;

}

#form1 label{
		font-size: 2vw;	
}	

#form1 input{     
	height: 3vw;
}

#form1 label{
		
		margin: 0.5vw;
		margin-top: 0;
		font-size: 2vw;

}	


}
